// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $header-font;
}

nav {
    font-family: $header-font;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-link {
    color: black !important;
}

.table {
    tr {
        text-align: center;
    }
    td {
        vertical-align: middle;
        text-align: center;
        font-family: $body-font;
    }
    th {
        font-family: $header-font;
    }
    ul {
        margin: 0;
    }
}

.form-control[readonly] {
    background-color: #fff;
}

input.form-control {
    font-family: $body-font;
}

// .form-control {
//     font-family: $body-font;
// }
